@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
body {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}
@layer base {
  button {
    cursor: pointer;
  }
  input:not([type="checkbox"]) {
    @apply focus:ring-[0.5px] focus:ring-blue-600 border-gray-300 border-[0.5px] focus:border-green-500 focus:outline-none;
  }
}
@media print {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .resume-page {
    padding: 15mm; /* or reduce it if too much */
    margin: 0;
  }
}
@media (max-width: 480px) {
  .custom-toast {
    width: 250px;

    transform: translateX(75%);
    font-size: 14px;
  }
}
